body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #575656;
}
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 25px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .nav-buttons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .toggle-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.navbar button:hover {
    background-color: #555;
}